/** Max-widith rules */
/* ******************************************************** */

/* * Fixed viewport 370px */
@media screen and (min-width: 370px) {

    .responsive-hidden-title {
        display: none;
    }
   
    .responsive-hidden-advertise {
        display: none;
    }
    
    .responsive-hidden-items {
        display: none;
    }
    
   
}


@media screen and (min-width: 768px) {
    .responsive-hidden-title {
        display: contents;
    }
    .responsive-hidden-advertise {
        display: contents;
    }
    
}

/** Min-widith rules */
/* ******************************************************** */

/* * Fixed viewport 768px */
@media screen and (min-width: 767px) {

    .main-container {
        padding: 30px;
    }

    .header-title {
        text-align: start;
        font-size: 2rem;
    }

    .generality-list-structure {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-btn {
        padding: 8px 45px;
        border-radius: 20px;
    }
}

/* * Fixed viewport 992+ */
@media screen and (min-width: 992px){
    .section-video-info{
        flex-direction: row;
        padding-bottom: 0;
    }

    .section-recipe-info{
        width: 30%;
        padding-bottom: 30px;
    }
    
    .section-video{
        width: 70%;
    }
    .generality-list-structure{
        display: inline;
    }
    
    .social-btn{
        padding: 8px 35px;
    }
    .responsive-hidden-items {
        display: inline;
    }
    